<!--

.media_item_sidebar_outer_container
 {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  right: -1em;
  z-index: 1;
  margin-top: 1em;
 }

.media_item_sidebar_inner_container
 {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
 }

.tags_listing_outer_container
 {
  display:flex;
  flex-flow::row nowrap;
  min-width:11em;
  width:100%;
  /* padding: 0.3em; */
  padding: 0;
  border-radius: 0.5em;
  border: 0px none;
  font-size: 0.7em;
 }

.tags_listing_inner_container
 {
  display:flex;
  flex-flow:row nowrap;
  width:100%;
  background-color: rgb(255, 255, 255);
 }
 
.tags_listing_tags_icon-container
 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
 }

.tags_selection_container
 {
  display: flex;
  flex-flow: row nowrap;
  width:100%;
 }

.tags_selection_container select
 {
  display: flex;
  flex-flow: row nowrap;
  width:100%;
  border: 0px none;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.5);
  font-size: .9em;
 }

.related_item_image_listing_container
 {
  display: flex;
  flex-flow: column nowrap;
  margin: 1em 0 0 .2em;
  background-color: #FFF;
  padding: .5em .2em .2em .2em;
  border-radius: .3em;
 }

.related_item_image_listing_heading_container
 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: .6em;
 }

.related_item_image_listing
 {
  display:flex;
  flex-flow:column nowrap;
  padding:0;
 }

.related_item_image
 {
  display: flex; 
  flex-flow: row nowrap;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 7em;
  height: 7em;
  margin-top:.5em;
  background-color: rgba(255, 255, 255, 0.5);
  /* background-image: url('/images/thattinycookeimonster/{{ images_list[0] }}'); */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:.5em;
 }

.related_item_image:hover
 {
  cursor:pointer;
 }

-->
